In [24]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

pd.set_option('display.max_columns', 500)
import warnings
warnings.filterwarnings('ignore')

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression


from sklearn import linear_model

from sklearn.metrics import r2_score,mean_squared_error,mean_absolute_error

from sklearn import svm

In [4]:
data = pd.read_excel('Admission_Prediction.xlsx')

In [5]:
data

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1.0,337.0,118.0,4.0,4.5,4.5,9.65,1.0,0.92
1,2.0,324.0,107.0,4.0,4.0,4.5,8.87,1.0,0.76
2,3.0,NaN,104.0,3.0,3.0,3.5,8.00,1.0,0.72
3,4.0,322.0,110.0,3.0,3.5,2.5,8.67,1.0,0.80
4,5.0,314.0,103.0,2.0,2.0,3.0,8.21,0.0,0.65
...,...,...,...,...,...,...,...,...,...
495,496.0,332.0,108.0,5.0,4.5,4.0,9.02,1.0,0.87
496,497.0,337.0,117.0,5.0,5.0,5.0,9.87,1.0,0.96
497,498.0,330.0,120.0,5.0,4.5,5.0,9.56,1.0,0.93
498,499.0,312.0,103.0,4.0,4.0,5.0,8.43,0.0,0.73
499,500.0,327.0,113.0,4.0,4.5,4.5,9.04,0.0,0.84

In [15]:
data.head(20)

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1.0,337.0,118.0,4.0,4.5,4.5,9.65,1.0,0.92
1,2.0,324.0,107.0,4.0,4.0,4.5,8.87,1.0,0.76
2,3.0,NaN,104.0,3.0,3.0,3.5,8.00,1.0,0.72
3,4.0,322.0,110.0,3.0,3.5,2.5,8.67,1.0,0.80
4,5.0,314.0,103.0,2.0,2.0,3.0,8.21,0.0,0.65
5,6.0,330.0,115.0,5.0,4.5,3.0,9.34,1.0,0.90
6,7.0,321.0,109.0,NaN,3.0,4.0,8.20,1.0,0.75
7,8.0,308.0,101.0,2.0,3.0,4.0,7.90,0.0,0.68
8,9.0,302.0,102.0,1.0,2.0,1.5,8.00,0.0,0.50
9,10.0,323.0,108.0,3.0,3.5,3.0,8.60,0.0,0.45
10,11.0,325.0,106.0,3.0,3.5,4.0,8.40,1.0,0.52
11,12.0,327.0,111.0,4.0,4.0,4.5,9.00,1.0,0.84
12,13.0,NaN,112.0,4.0,4.0,4.5,9.10,1.0,0.78
13,14.0,307.0,109.0,3.0,4.0,3.0,8.00,1.0,0.62
14,15.0,311.0,104.0,3.0,3.5,2.0,8.20,1.0,0.61
15,16.0,314.0,105.0,3.0,3.5,2.5,8.30,0.0,0.54
16,17.0,317.0,107.0,3.0,4.0,3.0,8.70,0.0,0.66
17,18.0,319.0,106.0,3.0,4.0,3.0,8.00,1.0,0.65
18,19.0,318.0,110.0,3.0,4.0,3.0,8.80,0.0,0.63
19,20.0,303.0,102.0,3.0,3.5,3.0,8.50,0.0,0.62

In [7]:
data.tail()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
495,496.0,332.0,108.0,5.0,4.5,4.0,9.02,1.0,0.87
496,497.0,337.0,117.0,5.0,5.0,5.0,9.87,1.0,0.96
497,498.0,330.0,120.0,5.0,4.5,5.0,9.56,1.0,0.93
498,499.0,312.0,103.0,4.0,4.0,5.0,8.43,0.0,0.73
499,500.0,327.0,113.0,4.0,4.5,4.5,9.04,0.0,0.84

In [8]:
data.shape

(500, 9)

In [9]:
data.describe()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
count,500.000000,485.000000,490.000000,485.000000,500.000000,500.00000,500.000000,500.000000,500.00000
mean,250.500000,316.558763,107.187755,3.121649,3.374000,3.48400,8.576440,0.560000,0.72174
std,144.481833,11.274704,6.112899,1.146160,0.991004,0.92545,0.604813,0.496884,0.14114
min,1.000000,290.000000,92.000000,1.000000,1.000000,1.00000,6.800000,0.000000,0.34000
25%,125.750000,308.000000,103.000000,2.000000,2.500000,3.00000,8.127500,0.000000,0.63000
50%,250.500000,317.000000,107.000000,3.000000,3.500000,3.50000,8.560000,1.000000,0.72000
75%,375.250000,325.000000,112.000000,4.000000,4.000000,4.00000,9.040000,1.000000,0.82000
max,500.000000,340.000000,120.000000,5.000000,5.000000,5.00000,9.920000,1.000000,0.97000

In [12]:
data.isnull().count()

Serial No.           500
GRE Score            500
TOEFL Score          500
University Rating    500
SOP                  500
LOR                  500
CGPA                 500
Research             500
Chance of Admit      500
dtype: int64

In [13]:
data.isnull().sum()

Serial No.            0
GRE Score            15
TOEFL Score          10
University Rating    15
SOP                   0
LOR                   0
CGPA                  0
Research              0
Chance of Admit       0
dtype: int64

In [16]:
data.columns

Index(['Serial No.', 'GRE Score', 'TOEFL Score', 'University Rating', 'SOP',
       'LOR', 'CGPA', 'Research', 'Chance of Admit'],
      dtype='object')

In [17]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Serial No.         500 non-null    float64
 1   GRE Score          485 non-null    float64
 2   TOEFL Score        490 non-null    float64
 3   University Rating  485 non-null    float64
 4   SOP                500 non-null    float64
 5   LOR                500 non-null    float64
 6   CGPA               500 non-null    float64
 7   Research           500 non-null    float64
 8   Chance of Admit    500 non-null    float64
dtypes: float64(9)
memory usage: 35.3 KB

In [22]:
x = data.iloc[:,1:8]
y = data.iloc[:,8]

In [23]:
x_train , x_test, y_train, y_test = train_test_split(x,y)

In [25]:
print(x_train)
print(x_test)
print(y_train)
print(y_test)

     GRE Score  TOEFL Score  University Rating  SOP  LOR  CGPA  Research
222      324.0        113.0                4.0  4.5  4.0  8.79       0.0
65       325.0        112.0                4.0  3.5  3.5  8.92       0.0
331      311.0        105.0                2.0  3.0  2.0  8.12       1.0
434      306.0        103.0                3.0  3.5  3.0  8.21       0.0
55       320.0        103.0                3.0  3.0  3.0  7.70       0.0
..         ...          ...                ...  ...  ...   ...       ...
118      296.0         99.0                2.0  3.0  3.5  7.28       0.0
138      326.0        116.0                2.0  4.5  3.0  9.08       1.0
238      310.0        104.0                3.0  2.0  3.5  8.37       0.0
407      298.0        100.0                3.0  2.5  4.0  7.95       1.0
346      304.0         97.0                2.0  1.5  2.0  7.64       0.0

[375 rows x 7 columns]
     GRE Score  TOEFL Score  University Rating  SOP  LOR  CGPA  Research
203      334.0        120.0                5.0  4.0  5.0  9.87       1.0
329      297.0         96.0                2.0  2.5  1.5  7.89       0.0
153      324.0        105.0                3.0  3.0  4.0  8.75       0.0
365      330.0        114.0                4.0  4.5  3.0  9.17       1.0
54       322.0        110.0                3.0  3.0  3.5  8.00       0.0
..         ...          ...                ...  ...  ...   ...       ...
82       320.0        110.0                5.0  5.0  4.5  9.22       1.0
323      305.0        102.0                2.0  2.0  2.5  8.18       0.0
88       314.0        108.0                3.0  4.5  3.5  8.14       0.0
422      322.0        112.0                4.0  3.5  2.5  9.02       1.0
1        324.0        107.0                4.0  4.0  4.5  8.87       1.0

[125 rows x 7 columns]
222    0.76
65     0.55
331    0.73
434    0.64
55     0.64
       ...
118    0.47
138    0.80
238    0.70
407    0.58
346    0.47
Name: Chance of Admit, Length: 375, dtype: float64
203    0.97
329    0.43
153    0.79
365    0.86
54     0.70
       ...
82     0.92
323    0.62
88     0.64
422    0.73
1      0.76
Name: Chance of Admit, Length: 125, dtype: float64

In [28]:
Lin_reg = LinearRegression()
Lin_reg.fit(x_train,y_train)

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').